<suite name="SeleniumTestSuite" parallel="classes" thread-count="4">
    <test name="ChromeTest">
        <classes>
            <parameter name="browser" value="chrome"/>
            <class name="runners.TestRunner"/>
        </classes>
        <classes>
            <parameter name="browser" value="firefox"/>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
</suite>
