<suite name="SeleniumTestSuite" parallel="tests" thread-count="2">
    <test name="ChromeTest">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
    <test name="SafariTest">
        <parameter name="browser" value="safari"></parameter>
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
</suite>
